#wrapper-comm {
    width: 85%;
    margin: 0 60px;
    display: inline-block;
}
a {
    text-decoration: none;
}
/*input {*/
    /*width: 100%;*/
/*}*/

/*textarea {*/
   /*width: 100%;*/
/*}*/

/*.date {*/
    /*margin: 10px 0px;*/
    /*font-style: italic;*/
    /*font-size: 12px;*/
/*}*/

