@font-face {
    src: url('../fonts/Knights%20Quest.ttf');
    font-family: knights;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}
/*--------------*/
/* HEADER START */
/*--------------*/

header  {
    width: 100%;
    height: 220px;
    margin: 0 10px;
}

header > nav > .logo {
    font: bold 40px knights, serif;
    margin: -3px 0 0 30px;
}

header > .bg-holder {
    height: 180px;
    background: #CCC url("../images/header-bg.jpg")
    no-repeat center center;
}

header > nav {
    width: 100%;
    height: 45px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: #CCC;
    font: bold 17px sans-serif;
}

/* LOGIN START */

header > nav > section > form > .user-login {
    height: 28px;
    margin: 8px 3px 7px 0;
    border: none;
    font: bold 17px sans-serif;
    background: #FFF url("../images/username-icon.jpg")
    no-repeat left top/23px 23px;
    padding-left: 22px;
}

header > nav > section > form > .user-login[type="password"] {
    background: #FFF url("../images/pass-icon.jpg")
    no-repeat left center/18px 18px;

}

header > nav > section {
    display: flex;
    flex-flow: row wrap;
}

header > nav > section > .user-logout {
    background: none repeat #F02;
    border: medium none;
    color: #FFF;
    font: bolder 17px sans-serif;
    padding: 6px 10px 3px;
    margin: 7px 10px 7px 5px;
    cursor: pointer;
    text-decoration: none;
}

header > nav > section > .user-logout:hover {
    color: #F00;
    background: #FFF;
}

header > nav > section > .hello-box {
    background: #000;
    color: #FFF;
    height: 32px;
    margin: 7px 3px;
    padding: 0 15px;
    font: bold 23px sans-serif;
    line-height: 143%;
}

header > nav > section > form > .login-submit {
    background: #F02;
    border: none;
    color: #FFF;
    font: bold 17px sans-serif;
    padding: 4px 10px 3px 10px;
    margin: 7px 10px 7px 5px;
    cursor: pointer;
}

header > nav > section > form > .login-submit:hover {
    background: #FFF;
    color: #F02;
}

/* LOGIN END */

header > nav > section > .register {
    background: #F02;
    color: #FFF;
    text-decoration: none;
    padding: 5px 10px;
    margin: 8px 10px 7px 5px;
    line-height: 1.2
}

header > nav > .register:hover {
    background: #FFF;
    color: #F02;
}

/*--------------*/
/*  HEADER END  */
/*--------------*/

/*---------------*/
/* CONTENT START */
/*---------------*/

main {
    width: 100%;
    height: auto;
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;

}

main > .content-holder {
    width: 60%;
    height: 95%;
}

main > .content-holder > .topic {
    width: 90%;
    height: auto;
    margin: 10px auto 30px;
    box-shadow: 5px 5px 20px #CCC;
}

.topic > header {
    background: #DDD;
    color: #111;
    text-shadow: 2px 2px 2px #FFF;
    height: 40px;
    margin: 0;
    font: bold 30px sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.topic > .topic-content {
    width: 90%;
    margin: 5px auto;
    font: 18px sans-serif;
}

.topic > footer {
    background: #DDD;
    border: none;
    color: #111;
    height: 35px;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.topic > footer > .author {
    font: bold 25px sans-serif;
    width: auto;
    height: 35px;
    display: flex;
    flex-flow: row wrap;
    color: #FFF;
}

.topic > footer > .read-more {
    margin: 9px 0 0 0;
    font: bold 14px sans-serif;
}

.topic > footer > .read-more > a {
    background: #F02;
    color: #FFF;
    text-decoration: none;
    padding: 9px 25px;
}

.topic > footer > .read-more > a:hover {
    background: #D02;
    color: #FFF;
    text-decoration: none;
}

.pages {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.page-link {
    background: #F02;
    color: #FFF;
    text-decoration: none;
    font: bold 18px sans-serif;
    padding: 3px 10px;
    margin: 0 3px;
}

.page-link:hover {
    background: #FFF;
    color: #F00;
    box-shadow: 1px 1px #CCC;
}


.author-black {
    color: #FFF;
    background: none;
    width: auto;
    padding: 2px 7px 2px 23px;
}

.author-name {
    color: #FFF;
    padding: 2px 23px 2px 7px;
    background: none;

}

.date, .tag {
    font-style: italic;
    font-weight: bold;
    padding: 6px 0 0 0;
    color: white;
}

.topic > footer {
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 24%, rgba(255,0,34,1) 76%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(24%,rgba(0,0,0,1)), color-stop(76%,rgba(255,0,34,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 24%,rgba(255,0,34,1) 76%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(0,0,0,1) 24%,rgba(255,0,34,1) 76%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(0,0,0,1) 24%,rgba(255,0,34,1) 76%); /* IE10+ */
    background: linear-gradient(to right, rgba(0,0,0,1) 24%,rgba(255,0,34,1) 76%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ff0022',GradientType=1 ); /* IE6-9 */
}

/*comments start*/

.comments-holder {
    width: 90%;
    margin: 25px auto;
}

.comment-box {
    margin: 0 0 10px 0;
}

.comment-author {
    margin: 0 0 3px 0;
}

.comment-text {
    margin: 5px 0;
    background: #DDD;
}

.comment-date {
    text-decoration: underline;
    font-style: italic;
}
/*comments end*/


/*--------------------*/
/* contact page start */
/*--------------------*/

.contact {

    width: 50%;
    margin: 0 auto;
    background-color: #111111;
    margin-top: 20px;
    height: 500px;
}
.contact .contact-info{
    width: 40%;
    height: 300px;

    margin-top: 20px;

    color: #FFFFFF;



}
.contact .contact-info input{
    display: block;
    width: 340px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;


}
.contact .cordinates-info{
    width: 45%;
    height: 200px;
    float: right;
    color: #FFFFFF;
}
.contact .contact-info textarea{
    display: block;
    width: 340px;
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
    resize: none;


}
.contact .contact-info h1{
    text-align: center;
    margin-top: 30px;
}
.contact .contact-info input:last-of-type{
    margin: 0 auto;
    margin-top: 50px;
    width: 150px;
    height: 30px;
    display: block;
    background-color: #DD0022;
    color: #FFFFFF;
}
.contact .cordinates-info .google-maps iframe{
    margin-left: 40px;
    width: 470px;
    height: 220px;
}
.contact .cordinates-info .coordinates{
    margin-left: 40px;
    margin-top: 20px;
    font-size: 20px;
}

/*--------------------*/
/* contact page end-- */
/*--------------------*/
/*--------------------*/
/* about  page start-- */
/*--------------------*/
.about-page {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    height: auto;
    background: #111;
    color: #FFFFFF;
    margin-top: 20px;
}

.btns-holder{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.main-btns{
    word-wrap: break-word;
    text-align: center;
    width: 100px;
    margin: 2%;
    height: 100px;
    cursor: pointer;
}
#form-div{
    display: none;
    width: 75%;
    align-self: center;
    margin: 0 auto;
}

#form-div input[type='text']{
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
}

#form-div textarea{
    width: 100%;
    resize: none;
}
#article-manager, #user-manager{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#article-manager>table td,#user-manager>table td{
    border: 1px solid black;
}
table{
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
}

.title-table{
    font-weight: bold;
}

.about-page h1{
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
}
.about-page p{
font-size: 18px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

/*.about-page-image {*/
    /*width: 100%;*/
    /*height: 45px;*/
    /*background-image: url("../images/aboutUsWall.png");*/
    /*background-size: 100% 100%;*/
    /*background-repeat: no-repeat;*/
/*}*/

/*--------------------*/
/* about  page end- */
/*--------------------*/


/*---------------*/
/*  CONTENT END  */
/*---------------*/

/*---------------*/
/*  ASIDE START  */
/*---------------*/

main > aside {
    width: 18%;
    /*margin: 10px;*/
}

main > aside > ul > li {
    padding: 20px 7px 20px 0;
    text-align: left;
    background: #000;
    border-left: 7px solid #000;
}

main > aside > ul > li > a {
    color: #FFF;
    padding: 10px 0 10px 30px;
    font: 600 18px sans-serif;
    text-decoration: none;
}


main > aside > ul > li:hover {
    background: rgba(196, 196, 196, 0.4);
    border-left: 7px solid #F00;
}

main > aside > ul > li:hover > a {
    color: #000;
    font-weight: 600;
}

main > #aside-navigation {
    width: 18%;
    /*margin: 10px;*/
}

main > #aside-navigation > ul > li {
    padding: 20px 7px 20px 0;
    text-align: right;
    background: #000;
    border-right: 7px solid #000;
    border-left: none;
}

main > #aside-navigation > ul > li > a {
    color: #FFF;
    padding: 10px 0 10px 30px;
    font: 600 18px sans-serif;
    text-decoration: none;
}


main > #aside-navigation > ul > li:hover {
    background: rgba(196, 196, 196, 0.4);
    border-right: 7px solid #F00;
    border-left: none;
}

main > #aside-navigation > ul > li:hover > a {
    color: #000;
    font-weight: 600;
}


/*-------------*/
/*  ASIDE END  */
/*-------------*/






/*--------------*/
/* FOOTER START */
/*--------------*/

.page-footer {
    width: 100%;
    height: 200px;
    border: 2px solid black;
    margin: 10px;
    background-color: #111111;
    color: #FFFFFF;
}
.page-footer > div {

    float: left;
}
.footer-links{
    width:23% ;
    height: 80%;
}
.follow{
    width: 45%;
    height: 80%;
}
.iframe{
    width: 30%;
    height: 80%;
}
.footer{
    width: 100%;
    height: 15%;
}
.footer p{
    text-align: center;
}
.footer-links a{
    display: block;
    margin-left: 50px;
    text-decoration: none;
    font-size: 25px;
    margin-top: 15px;
    color: #CCCCCC;
}

/*------------*/
/* FOOTER END */
/*------------*/