.wrapper {
    width: 1200px;
    margin: 0 auto;
}


header {
    width: 100%;
    height: 200px;
    border: 2px solid black;
    margin: 10px;
}

main {
    width: 100%;
    height: auto;
    border: 2px solid black;
    margin: 10px;
}

main > #content {
    display: inline-block;
    width: 70%;
    height: 95%;
}

main > aside {
    display: inline-block;
    width: 20%;
    height: 95%;
}

footer {
    width: 100%;
    height: 200px;
    border: 2px solid black;
    margin: 10px;
}